body,
html {
    margin: 0;
    padding: 0;
    width: 1080;
    height: 100vh;
    font-family: "Poppins", sans-serif;
}


html {
    background-color: #03012E;
}

.poppins-regular {
    font-weight: 400;
}



.azul {
    width: 15rem;
    height: 5rem;
    padding-left: 4rem;
    padding-top: 2rem;
}

header {
    width: auto;
    height: auto;
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: 1rem;
}

ul {
    padding-left: 0;
}

.centro {
    display: flex;
    align-items: center;
}

ul li {
    list-style: none;
    margin-right: 4rem;
}

.menu-normal,
.menu-responsivo {
    color: white;
    font-size: 1rem;
    text-decoration: none;
}

.menu {
    display: flex;
    align-items: center;
    margin-left: 12rem;
}


.botaoMenu {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.menu-mobile {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 4rem;
    right: 1rem;
    background-color: #03012E;
    border-radius: 10px;
    padding: 1rem;
    transition: transform 0.5s ease;
    transform: scale(0);
}

.menu-mobile ul {
    padding: 0;
    margin: 0;
}

.menu-mobile ul li {
    margin-bottom: 1rem;
}

.video-section{
    width: 100%;
    max-width: 800px; 
    height: auto;
    display: flex;
    justify-content: center;
}

video{
    width: 100%;
    height: auto; 
}

p{
    text-align: center;
    color: aliceblue;
    font-family: "Poppins";
}


h2.titulo{
    text-align: center;
    margin-left: 10%;
    color: aliceblue;
    font-size: 35px;
    margin-bottom: 0;
}
.linha{
    color: aliceblue;
    font: 1em sans-serif;
    text-align: left;
    margin-left: 32%;
    margin-top: 0;
}

.container-qs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 4rem;
}
.quem-somos{
    color:aliceblue;
    font-size: 15px;
    width: 180%;
    
    text-align: left;
    
}
.quem-somos strong{
    color:#00AAFA;
}

.grid {
    width: 85%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    margin: 4rem auto;
}

.container {
    border: 2px solid;
    border-color: #00AAFA;
    text-align: left;
    height: 20rem;
    padding: 1rem;
    border-radius: 1rem;
    color: aliceblue;
}

.img-container {
    width: 20%;
    height: auto;
}

.mini-texto{
    font-weight: 300;
}